# Виртуальное окружение
venv/
__pycache__/

# Временные файлы Jupyter
.ipynb_checkpoints/

# Системные файлы
.DS_Store

# Батник для запуска гита из папки
git start.bat

# Игнорировать папки 
versions/
ffmpeg/

# Конфигурации IDE
.vscode/
.idea/

# exe файлы
*.exe